* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: work-sans, sans-serif;
    font-weight: 400;
}

:root {
    --background-color: #FFFBF6;
    --primary: #1D5983;
    --secondary: #9C866C;
    --tertiary: #312F48;
}

body {
    background-color: var(--background-color);
}

/* HTML */

h1 {
    font-family: bebas-neue-pro, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4rem;
    color: var(--primary);
}

h2 {
    font-family: bebas-neue-pro, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4rem;
    color: var(--primary);
}

h3 {
    font-family: work-sans, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--tertiary);
}

h4 {
    font-family: work-sans, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--tertiary);
}

p {
    font-family: work-sans, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--tertiary);
}

a {
    font-family: bebas-neue-pro, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: var(--tertiary);
}

/* PRIMARY BUTTON  */

.primary-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: transparent;
    padding: 0;
    border: solid 1.5px var(--tertiary);
    border-radius: 25px;
    width: 14rem;
    height: auto;
  }

  .primary-button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    right: 0;
    background: var(--secondary);
    border-radius: 23px;
  }

  .primary-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: var(--background-color);
  }

  .primary-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }

  .primary-button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.30rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--background-color);
    border-right: 0.125rem solid var(--background-color);
    transform: rotate(45deg);
  }

  .primary-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    inset: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--tertiary);
    text-align: center;
    font-family: bebas-neue-pro, sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  .primary-button:hover .circle {
    width: 100%;
  }

  .primary-button:hover .circle .icon.arrow {
    background: var(--background-color);
    transform: translate(1rem, 0);
  }

  .primary-button:hover .button-text {
    color: var(--background-color);
  }

  /* SECONDARY BUTTON  */

  .secondary-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: transparent;
    padding: 0;
    border: solid 1.5px var(--background-color);
    border-radius: 25px;
    width: 15rem;
    height: auto;
  }

  .secondary-button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    right: 0;
    background: var(--background-color);
    border-radius: 23px;
  }

  .secondary-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .secondary-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }

  .secondary-button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.30rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid var(--primary);
    border-right: 0.125rem solid var(--primary);
    transform: rotate(45deg);
  }

  .secondary-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    inset: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: var(--background-color);
    text-align: center;
    font-family: bebas-neue-pro, sans-serif;
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  .secondary-button:hover .circle {
    width: 100%;
  }

  .secondary-button:hover .circle .icon.arrow {
    background: var(--primary);
    transform: translate(1rem, 0);
  }

  .secondary-button:hover .button-text {
    color: var(--primary);
  }

  @media (min-width: 40rem){
    
    h1 {
        font-size: 6rem;
        line-height: 6rem;
    }
    
    h2 {
        font-size: 5rem;
        line-height: 5rem;
    }
    
    h3 {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    
    h4 {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    
    p {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    
    a {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
  }

  @media (min-width: 70rem){
    
    h1 {
        font-size: 8rem;
        line-height: 8rem;
    }
    
    h3 {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    
    h4 {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    
    p {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    
    a {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
  }

